/****** Main Styling ******/

html,body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #fff;
  background-image: linear-gradient(to top, #fff, #ddeeff);
	text-align: center;
	line-height: 1.4em;
  height: 95%;
  width: 95%;
}

.container {
	padding: 0;
	margin-top: 30px;
}

h3 {
  margin-top: 30px;
}

.footer {
	margin-top: 40px;
}

.user-stories {
  position: relative;
  text-align: justify;
  max-width: 700px;
  margin: 10px auto;
}
code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}
ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}
.user-stories li {
  margin-bottom: 0.7em;
}

a {
	color: #2574A9;
}

form {
  border: solid 1px black;
  border-radius: 5px;
  margin: 5px auto;
  padding: 15px;
  max-width: 600px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type=text] {
  width: 220px;
  text-align: center;
}

.button{
  margin-left: 20px;
  width: 100px;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #222;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 0.05em;
}

.button:hover{
  background-image: linear-gradient(to top right,  #ddeeff, #ccddff);
}

#footer {
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 30px;
  width: 300px;
  border-top: 1px solid #222;
  text-align: center;
}

#example{
  display: flex;
  align-items: center;
  justify-content: center;
}

#example div{
  margin: 0px 20px;
}